<app-progress *ngIf="dataLoading"></app-progress>
<main  class="main" *ngIf="action.ResponseReceived">

    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                    <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                    <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-4 mb-3">
            <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
                (click)="newSupplier()">New Supplier</button>
        </div>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <div class="table-container overflow-auto">
                    <div class="dataTable-top">
                        <div class="dataTable-dropdown d-flex">
                            <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                            </select>
                            <span class="ms-2">Entries per page</span>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                placeholder="Search..." type="text">
                        </div>
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th *ngIf="action.CanEdit || action.CanDelete">Action</th>
                                <th style="cursor:pointer;" (click)="sort('SupplierName')">Supplier</th>
                                <th style="cursor:pointer;" (click)="sort('MobileNo')">Mobile No</th>
                                <th style="cursor:pointer;" (click)="sort('AlternateNo')">Alternate No</th>
                                <th style="cursor:pointer;" (click)="sort('StateCode')">State Code</th>
                                <th style="cursor:pointer;" (click)="sort('FullAddress')">Full Address</th>
                                <th style="cursor:pointer;" (click)="sort('Status')">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of SupplierList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                <td *ngIf="action.CanEdit || action.CanDelete">
                                    <button *ngIf="action.CanEdit" class="btn btn-sm btn-warning"
                                        (click)="editSupplier(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button *ngIf="action.CanDelete" class="btn btn-sm btn-danger ml-10"
                                        (click)="deleteSupplier(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                                <td>{{item.SupplierName}}</td>
                                <td>{{item.MobileNo}}</td>
                                <td>{{item.AlternateNo}}</td>
                                <td>{{item.StateCode}}</td>
                                <td>{{item.FullAddress}}</td>
                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{AllStatusList[item.Status]}}
                                    </span>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTable-bottom">
                        <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                            class="my-pagination"></pagination-controls>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <div class="modal fade" *ngIf="action.CanEdit || action.CanCreate" id="staticBackdrop" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Supplier.SupplierId > 0
                        ?'Update':'New'}} Supplier
                    </h1>
                    <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm()"></button>
                </div>
                <div class="modal-body">

                    <form #formSupplier="ngForm" class="d-flex justify-content-evenly flex-wrap">
                        <div class="container">
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Supplier Name</mat-label>
                                    <input matInput name="SupplierName" [(ngModel)]="Supplier.SupplierName"
                                        required>
                                    <mat-error>Required Field !! </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Mobile No</mat-label>
                                    <input type="number" matInput name="MobileNo" [(ngModel)]="Supplier.MobileNo">
                                    <mat-error>Required Field !! </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Alternate No</mat-label>
                                    <input type="number" matInput name="AlternateNo" [(ngModel)]="Supplier.AlternateNo">
                                    <mat-error>Required Field !! </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>State Code</mat-label>
                                    <input type="number" matInput name="StateCode" [(ngModel)]="Supplier.StateCode">
                                    <mat-error>Required Field !! </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Full Address</mat-label>
                                    <textarea matInput name="FullAddress" [(ngModel)]="Supplier.FullAddress"></textarea>
                                    <mat-error>Required Field !! </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Status</mat-label>
                                    <mat-select name="Status" [(ngModel)]="Supplier.Status" required>
                                        <mat-option [value]="m1.Key"
                                            *ngFor="let m1 of StatusList">{{m1.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error>Required Field !! </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
                        (click)="resetForm()">Cancel</button>
                    <button mat-raised-button color="primary" (click)="saveSupplier()">{{Supplier.SupplierId >0 ?
                        'Update':'Submit'}}</button>
                </div>
            </div>
        </div>
    </div>

</main>