/* You can add global styles to this file, and also import other style files */

.form-label {
  font-size: 0.8rem;
  font-weight: 500;
}

.inputSuffix {
  width: 212px;
}


.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.breadcrumb {
  font-size: 12px;
  margin-bottom: 7px;
}

.table>:not(caption)>*>* {
  padding: .3rem .3rem;
}

.dataTable-wrapper.no-header .dataTable-container {
  border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
  border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
  padding: 8px 10px;
}

.dataTable-top>nav:first-child,
.dataTable-top>div:first-child,
.dataTable-bottom>nav:first-child,
.dataTable-bottom>div:first-child {
  float: left;
}

.dataTable-top>nav:last-child,
.dataTable-top>div:last-child,
.dataTable-bottom>nav:last-child,
.dataTable-bottom>div:last-child {
  float: right;
}

.dataTable-selector {
  /* padding: 6px; */
  width: 80px;
  float: left;
}

/* .dataTable-input {
  padding: 6px 12px;
} */

.dataTable-info {
  margin: 7px 0;
}

/* PAGER */
.dataTable-pagination ul {
  margin: 0;
  padding-left: 0;
}

.dataTable-pagination li {
  list-style: none;
  float: left;
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #333;
}

.dataTable-pagination a:hover {
  background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #d9d9d9;
  cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dataTable-pagination .pager a {
  font-weight: bold;
}

/* TABLE */
.dataTable-table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.dataTable-table>tbody>tr>td,
.dataTable-table>tbody>tr>th,
.dataTable-table>tfoot>tr>td,
.dataTable-table>tfoot>tr>th,
.dataTable-table>thead>tr>td,
.dataTable-table>thead>tr>th {
  vertical-align: top;
  padding: 8px 10px;
}

.dataTable-table>thead>tr>th {
  vertical-align: bottom;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}

.dataTable-table>tfoot>tr>th {
  vertical-align: bottom;
  text-align: left;
  border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
  vertical-align: bottom;
  text-align: left;
}

.dataTable-table th a {
  text-decoration: none;
  color: inherit;
}

.dataTable-sorter {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  right: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0.2;
}

.dataTable-sorter::before {
  border-top: 4px solid #000;
  bottom: 0px;
}

.dataTable-sorter::after {
  border-bottom: 4px solid #000;
  border-top: 4px solid transparent;
  top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
  opacity: 0.6;
}

.dataTables-empty {
  text-align: center;
}

.dataTable-top::after,
.dataTable-bottom::after {
  clear: both;
  content: " ";
  display: table;
}


.processDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  /* background-image: url('./assets/spinners/progress.gif'); */
  background-size: 100px 100px;
  z-index: 34249322;
}

.fullDiv {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  z-index: 3424565656;
  opacity: 20;
  top: 0;
  left: 0;
}

.table th,
.table td {
  font-size: 13px !important;
}

/* td{
  padding-bottom: 2px;
  padding-top: 1px;
} */

.form-group {
  padding-bottom: 10px;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.new-link {
  font-size: 13px;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.autocomplete-container .input-container input {
  font-size: 14px;
  padding: 0 6px;
  height: 25px;
}

.autocomplete-container .suggestions-container {
  z-index: 9999;
}

.form-select,
.form-control,
.autocomplete-container .input-container input {
  padding: 0.2rem 0.4rem !important;
  font-size: 0.8rem !important;

}

.autocomplete-container .input-container input {
  display: block !important;
  width: 100% !important;
  padding: 0.2rem 0.4rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  height: auto !important;
}

.autocomplete-container {
  box-shadow: none !important;
  height: auto !important;
}

.autocomplete-container .suggestions-container ul li a {
  font-size: 0.8rem !important;
}

.autocomplete-container .suggestions-container ul li a {
  padding: 5px 10px !important;
}

hr {
  margin: 0.3rem;
}



.btn {
  padding: 0.2rem 0.5rem !important;
  border-radius: 3px !important;
  font-size: 0.8rem !important;
}

.btn-sm {
  padding: 0rem 0.2rem !important;
}



.list-group-item.active {
  padding: 3px 10px !important;
  margin-top: 10px;
}

b {
  font-size: 0.8rem;
}

.input_money {
  width: 70px;
}


/*
td {
  white-space: nowrap;
}*/

.badge mat-icon {
  height: 22px;
  width: 21px;
  transform: scale(0.7);
}


th {
  user-select: none;
}

/*.table th, .table td{
  padding: 0.2rem 0.2rem;
}*/

.text-link {
  cursor: pointer !important;
  text-decoration-line: none;
}

.text-link-sm {
  font-size: 11px;
  font-weight: 700;
}

.dataTable-selector {
  height: calc(1.5em + 0.5rem + 2px) !important;
  width: 75px;
}

.dataTable-dropdown .ms-2 {
  white-space: nowrap;
  padding-top: 4px;
}

.icon i {
  font-size: 19px;
}

.icon .bi-trash-fill {
  color: red;
}

h1 {
  margin: 0 !important;
}

.dataTable-top {
  padding-right: 0;
  padding-left: 0;
}

thead th {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.float-right {
  float: right;
}

.card {
  margin-bottom: 10px;
}

.header-text {
  color: #091974;
  border-bottom: 2px solid;
  border-color: #091974;
  margin-bottom: 12px !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.card-header span {
  font-size: 18px;
  color: #750ca1;
  font-weight: 500;
}

.card-header {
  padding: 10px;
}

.card-body {
  padding: 0 15px;
}

.font-icon-table {
  font-size: 20px;
}

.mail-message-back {
  background: #e3dbdb;
}

.mail-message-back .card-body {
  padding: 5px 20px 20px 20px;
}

.text-purple {
  color: #750ca1;
}

.btn-purple {
  background: #750ca1;
  color: #fff;
}

.text-lite-black {
  color: #383838;
}

.float-left {
  float: left;
}

.file_input,
.file_input input {
  cursor: pointer;
}

.card-body {
  margin-top: 20px;
}

.text-blue-sm {
  font-size: 12px;
  color: blue;
  font-weight: 600;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px 10px;
  background: #fff;
}

.copyright {
  font-size: 12px;
}

.main {
  padding-bottom: 50px !important;
}

.text-head-select {
  color: blue;
  font-weight: 500;
  /* border-bottom: 1px solid; */
  cursor: pointer;
}


.pagetitle {
  margin: 0;
}

.modal-body {
  padding-bottom: 0;
}

tr .mdc-checkbox {
  padding: 0 !important;
  margin: 0 !important;
}

tr .mdc-checkbox__background {
  top: 0 !important;
  left: 0 !important;
}

:fullscreen,
::backdrop {
  background-color: rgba(250, 247, 247, 0);
}

.icon-print {
  color: #6e086b;
}

.icon-delete {
  color: #f80e1a;
}

.icon-edit {
  color: #340fbd;
}

.icon-print,
.icon-delete,
.icon-edit,
.icon-detail {
  font-size: 18px;
  padding-right: 5px;
}

.mr-2 {
  margin-right: 20px;
}

.text-blue {
  font-size: 12px;
  color: blue;
}

.text-bold {
  font-weight: bold;
}

.mr-10 {
  margin-right: 10px;
}

.card-title {
  padding: 20px 0 15px 0 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #012970 !important;
  font-family: "Poppins", sans-serif !important;
}

.border-left {
  border-left: 1px solid #ccc
}

.border-top {
  border-top: 1px solid #ccc
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-backgrouond {
  background: linear-gradient(180deg, #210cd1, transparent);
}

.no-item {
  font-size: 14px;
}

.ml-10 {
  margin-left: 10px;
}

.text-darkblue {
  color: #012970;
}

.text-sub-header {
  font-size: 15px;
  font-weight: 600;
}

.form-check-label {
  font-size: 15px;
  /* font-weight: 600; */
}
.profile .profile-overview .row{
  margin-bottom: 0;
}
.profile_title{
  font-size: 14px;
  font-weight: 700;
}
.profile_sub_title{
  font-weight: normal;
}
.width_money{
  width: 120px;
}
.img-120{
  height: 120px;
}
.shortcut_icon i{
  font-size: 50px;
  color: #012970;
}
.shortcut_icon h6{
  font-weight: bold;
  color: #012970;
  font-size: 12px;
}
.shortcut_icon img{
  height: auto;
  width: 100%;
}
.text_dark_red {
  color: #b3040e !important;
}
.text_dark_green {
  color: #044006 !important;
}
.toast-container{
  position: fixed !important;
}
.text-header-sm {
  border-bottom: 2px solid;
  display: inline-block;
  color: #020240;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
