<app-progress *ngIf="dataLoading"></app-progress>
<main  class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                    <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                    <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <form #formPupilLeft="ngForm">
                    <div class="row mt-2">
                        <mat-form-field appearance="outline" class="col-sm-2">
                            <mat-label>Session</mat-label>
                            <mat-select #SessionId="ngModel" name="SessionId" [(ngModel)]="FilterObj.SessionId">
                                <mat-option value="0">--All Session--</mat-option>
                                <mat-option [value]="session.SessionId"
                                    *ngFor="let session of SessionList">{{session.SessionName}}</mat-option>
                            </mat-select>
                            <mat-error>required !!</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-2">
                            <mat-label>Class</mat-label>
                            <mat-select #ClassId="ngModel" name="ClassId" [(ngModel)]="FilterObj.ClassId"
                                (selectionChange)="changeClass()">
                                <mat-option value="0">--All Class--</mat-option>
                                <mat-option [value]="class.ClassId"
                                    *ngFor="let class of ClassList">{{class.ClassName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-sm-2">
                            <mat-label>Section</mat-label>
                            <mat-select #SectionId="ngModel" name="SectionId" [(ngModel)]="FilterObj.SectionId">
                                <mat-option value="0">--All Section--</mat-option>
                                <mat-option [value]="s1.SectionId"
                                    *ngFor="let s1 of SectionList">{{s1.SectionName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-sm-2">
                            <mat-label>From Date</mat-label>
                            <input matInput name="FromDate" [(ngModel)]="FilterObj.FromDateString"
                                [matDatepicker]="FromDatePicker">
                            <mat-datepicker-toggle matIconSuffix [for]="FromDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #FromDatePicker></mat-datepicker>
                            <mat-error>required !!</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-2">
                            <mat-label>To Date</mat-label>
                            <input matInput name="ToDate" [(ngModel)]="FilterObj.ToDateString"
                                [matDatepicker]="ToDatePicker">
                            <mat-datepicker-toggle matIconSuffix [for]="ToDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #ToDatePicker></mat-datepicker>
                            <mat-error>required !!</mat-error>
                        </mat-form-field>
                        <div class="col-sm-2">
                            <button mat-flat-button color="primary" (click)="getPupilLeftList()">Search</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="PupilLeftList.length > 0">
                    <div class="dataTable-top">
                        <div class="dataTable-dropdown d-flex">
                            <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                            </select>
                            <span class="ms-2">Entries per page</span>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                placeholder="Search..." type="text">
                        </div>
                    </div>
                    <div class="table-container overflow-auto">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th *ngIf="action.CanEdit || action.CanDelete">Action</th>
                                    <th (click)="sort('SessionName')">Session</th>
                                    <th (click)="sort('AdmissionNo')">Admission No.</th>
                                    <th (click)="sort('PupilName')">Pupil Name</th>
                                    <th (click)="sort('FatherName')">Father Name</th>
                                    <th (click)="sort('ClassName')">Class</th>
                                    <th (click)="sort('SectionName')">Section</th>
                                    <th (click)="sort('RollNo')">Roll No.</th>
                                    <th (click)="sort('LeftDate')">Left Date</th>
                                    <th (click)="sort('LeftReason')">Reason</th>
                                    <th (click)="sort('DueAmount')">Due Amount</th>
                                    <th (click)="sort('DueMonths')">Due Detail</th>
                                    <th (click)="sort('PupilLeftStatus')">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of PupilLeftList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                    <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                    <td class="no-wrap" *ngIf="action.CanEdit || action.CanDelete">
                                        <a ngbTooltip="Edit Record" *ngIf="action.CanEdit" class="icon-edit"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                            (click)="editPupilLeft(item)">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a ngbTooltip="Delete Record" *ngIf="action.CanDelete" class="icon-delete"
                                            (click)="deletePupilLeft(item)">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>

                                        <a ngbTooltip="Rejoin Pupil" *ngIf="action.CanEdit" class="icon-edit"
                                        (click)="rejoinPupil(item)">
                                        <i class="bi bi-arrow-up-right-square"></i>
                                    </a>
                                    </td>
                                    <td>{{item.SessionName }}</td>
                                    <td>{{item.AdmissionNo }}</td>
                                    <td>{{item.PupilName }}</td>
                                    <td>{{item.FatherName }}</td>
                                    <td>{{item.ClassName }}</td>
                                    <td>{{item.SectionName }}</td>
                                    <td>{{item.RollNo }}</td>
                                    <td class="no-wrap">{{item.LeftDate|date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.LeftReason}}</td>
                                    <td class="no-wrap">{{item.DueAmount|money}}</td>
                                    <td>{{item.DueMonths}}</td>
                                    <td>
                                        <span class="p-1"
                                            [ngClass]="item.PupilLeftStatus == 2 ? 'badge text-bg-success':'badge text-bg-danger'">
                                            {{AllPupilLeftStatusList[item.PupilLeftStatus]}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <pagination-controls (pageChange)="p=$event" style="float:right;"
                            class="my-pagination"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>