<!-- header part -->
<app-pdf-header [fileName]="fileName" [currentPage]="pageVariable" [totalPages]="totalPages" [zoomAmt]="zoom"
    [zoomMax]="zoomMax" [zoomMin]="zoomMin" (setZoom)="setZoom($event)" (download)="download()"
    (print)="print()"></app-pdf-header>

<!-- pdf-viewer section -->
<div class="output-pdf-viewer">
    <pdf-viewer [src]="pdfSrc" [(page)]="pageVariable" [show-all]="true" [stick-to-page]="true" [render-text]="true"
        [original-size]="false" [fit-to-page]="true" [autoresize]="true" [show-borders]="true" [zoom-scale]="zoomScale"
        [zoom]="zoom" (after-load-complete)="afterLoadComplete($event)" #pdfViewer style="width: 100%; height: 100%;"></pdf-viewer>

    <!-- <pdf-viewer [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
        [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true" [external-link-target]="'blank'"
        [autoresize]="true" [show-borders]="false" style="width: 100%; height: 100%;"></pdf-viewer> -->

</div>