.output-pdf-viewer {
    padding-top: 90px;
    /* padding-bottom: 20px; */
    height: 100vh;
    width: 100%;
    overflow: auto;
    position: relative;
    background-color: rgba(221, 221, 221, 0.5); /* Converted rgba(#ddd, 0.5) */
  }
  
  .output-pdf-viewer .pdfViewer .page {
    border: none;
    border-image: none;
    -webkit-border-image: none;
    box-shadow: 1px 0 5px -3px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }
  