<app-progress *ngIf="dataLoading"></app-progress>
<main  class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                    <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                    <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-4">
            <button *ngIf="action.CanCreate" mat-raised-button color="primary" class="float-right"
                (click)="newSection()">New
                Section</button>
        </div>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body ">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown d-flex">
                        <select class="form-select" (change)="changeFilterClass()" [(ngModel)]="filterObj.ClassId">
                            <option value="0">--All Class--</option>
                            <option *ngFor="let option of ClassList" [value]="option.ClassId">{{option.ClassName}}
                            </option>
                        </select>
                        <select class="dataTable-selector form-select form-select-sm ms-2" style="width: 150px;"
                            [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2">Entries per page</span>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                            placeholder="Search..." type="text">
                    </div>
                </div>
                <div class="table-container overflow-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th (click)="sort('ClassName')">Class</th>
                                <!-- <th (click)="sort('StreamName')">Stream</th> -->
                                <th (click)="sort('SectionName')">Section</th>
                                <th (click)="sort('Status')">Status</th>
                                <th *ngIf="action.CanEdit">Edit</th>
                                <th *ngIf="action.CanDelete">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of SectionList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                <td>{{item.ClassName}}</td>
                                <!-- <td>{{item.StreamName}}</td> -->
                                <td>{{item.SectionName}}</td>
                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{item.StatusName}}
                                    </span>
                                </td>
                                <td *ngIf="action.CanEdit">
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editSection(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td *ngIf="action.CanDelete">
                                    <button class="btn btn-sm btn-danger" (click)="deleteSection(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom">
                    <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                        class="my-pagination"></pagination-controls>
                </div>
            </div>
        </div>

    </section>

    <div *ngIf="action.CanEdit || action.CanCreate" class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Section.SectionId > 0 ?
                        'Update':'New'}}
                        Section
                    </h1>
                    <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm()"></button>
                </div>
                <div class="modal-body">

                    <form #formSection="ngForm">
                        <div class="container">
                            <div class="row">

                                <mat-form-field appearance="outline" class="col-sm-6 form-group">
                                    <mat-label>Class</mat-label>
                                    <mat-select name="ClassId" (selectionChange)="changeClass()"
                                        [(ngModel)]="Section.ClassId" required>
                                        <mat-option *ngFor="let option of ClassList" [value]="option.ClassId">
                                            {{option.ClassName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Required Filed !!</mat-error>
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" class="col-sm-6 form-group">
                                    <mat-label>Class</mat-label>
                                    <mat-select #ParentClassId="ngModel" name="ParentClassId"
                                        (selectionChange)="changeClass()" [(ngModel)]="Section.ParentClassId" required
                                        autofocus>
                                        <mat-option *ngFor="let option of ClassList"
                                            (onSelectionChange)="Section.ParentClassId = option.ClassId"
                                            [value]="option.ClassId">
                                            {{option.ClassName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(ParentClassId.dirty  || ParentClassId.touched) || (ParentClassId.invalid && isSubmitted)">
                                        Class name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->


                                <!-- <mat-form-field appearance="outline" class="col-sm-6 form-group"
                                    *ngIf="ClassStreamList.length > 0">
                                    <mat-label>Stream</mat-label>
                                    <mat-select #ClassId="ngModel" name="ClassId" [(ngModel)]="Section.ClassId" required
                                        autofocus>
                                        <mat-option *ngFor="let option of ClassStreamList"
                                            (onSelectionChange)="Section.ClassId = option.ClassId"
                                            [value]="option.ClassId">
                                            {{option.ClassName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(ClassId.dirty  || ClassId.touched) || (ClassId.invalid && isSubmitted)">
                                        Stream is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->

                                <mat-form-field appearance="outline" class="col-sm-6 form-group">
                                    <mat-label>Section Name</mat-label>
                                    <input matInput #SectionName="ngModel" name="SectionName"
                                        [(ngModel)]="Section.SectionName" required autofocus>
                                    <mat-error>Required Filed !!</mat-error>

                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-6 form-group">
                                    <mat-label>Status</mat-label>
                                    <mat-select #Status="ngModel" name="Status" [(ngModel)]="Section.Status" required>
                                        <mat-option [value]="status.Key"
                                            *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error>Required Filed !!</mat-error>

                                </mat-form-field>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
                        (click)="resetForm()">Cancel</button>
                    <button mat-raised-button color="primary" (click)="saveSection()">{{Section.SectionId >
                        0 ? 'Update':'Submit'}}</button>
                </div>
            </div>
        </div>
    </div>
</main>